<div>
  <div class="datepicker-timedate">
    <div>
      <timepicker time="$ctrl.time" on-update="$ctrl.updateTime($event);"></timepicker>
    </div>
    <div class="datepicker-date">
      <datepicker date="$ctrl.date" on-update="$ctrl.updateDate($event);"></datepicker>
    </div>
  </div>
</div>