<nav ng-show="$ctrl.access()">
<div class="nav__top">
  <div class="nav nav__right navbar-right">
    <span>{{$ctrl.profile().email}} </span><button class="btn btn-danger" ng-click="$ctrl.logout()">logout</button>
  </div>
</div>
  <ul class="nav container-fluid ">
    <div class="col-md-12">
      <div ng-repeat="item in ::$ctrl.links" class="col-md-3 passive__item">
        <li ui-sref-active="active__item" ui-sref={{::item.link}}>
          <h2>{{::item.name}}</h2>
        </li>
      </div>
    </div>
  </ul>
</nav>