<a ng-click="$ctrl.toggle()" class="settingsSlide__close-link">
  Close
</a>
<div class='col-xs-10 settingsSlide__settings-header'>
  <p>Date format:</p>
  <select name="date-format" class="form-control" ng-model='$ctrl.changes.datepicker'>
    <option value="MMMM d, y">{{$ctrl.longDate}}</option>
    <option value="M/d/yy">{{$ctrl.shortDate}}</option>
    <option value="MMM d, y">{{$ctrl.mediumDate}}</option>
    <option value="EEEE, MMMM d, y">{{$ctrl.fullDate}}</option>
  </select>
</div>

<div class='col-xs-10 settingsSlide__settings-header'>
  <p>Numbers of table rows:</p>
  <input type="number" class="form-control" name="quantity" min="1" max='20' value='1' ng-model='$ctrl.changes.rowsNumber'>
</div>
<button type="button" class="btn btn-primary btn-md center-block" ng-click="$ctrl.saveChanges()">
  Save
</button>