<div class="modal-content">
  <div class="modal-header">
    <h3>Are you sure?</h3>
  </div>
  <div class="modal-body">
    <h4>You delete:</h4>
    <input type="text" name="name" placeholder="{{modalctrl.row.name}}" disabled>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="modalctrl.del()">Delete</button>
    <button class="btn btn-warning" type="button" ng-click="modalctrl.cancel()">Cancel</button>
  </div>
</div>

