<div class="modal-content">
  <div class="modal-header">
    <h3>Are you sure?</h3>
  </div>
  <div class="modal-body">
    <h4>You edit:</h4>
    <input type="text" name="name" ng-model="modalctrl.name" ng-value="modalctrl.row.entity.name"><br><br>
    <input type="text" name="email" ng-model="modalctrl.email" ng-value="modalctrl.row.entity.email"><br> <br>
    <input type="text" name="role" ng-model="modalctrl.role" ng-value="modalctrl.row.entity.role"><br><br>
    <input type="text" name="details" ng-model="modalctrl.details" ng-value="modalctrl.row.entity.details"><br><br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="modalctrl.ed()">Edit</button>
    <button class="btn btn-warning" type="button" ng-click="modalctrl.cancel()">Cancel</button>
  </div>
</div>
