.status-buttons a
  color: white;
  display:inline-block;
  font-size:12px;
  margin-right:10px;
  text-align:center;
  text-transform:uppercase

.status-buttons a:hover
  text-decoration:none

.status-buttons a.active span
  background:#00BC8C

.status-buttons span
  background:#337ab7;
  display:block;
  height:30px;
  margin:0 auto 10px;
  padding-top:5px;
  width:30px;
  border-radius:50%